
.heading{
    /* color: red; */
   /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
   font-size: 72px;
   background: -webkit-linear-gradient(#eee, #333);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
  }
  
  .heading:hover{
    color: green;
  }
  